@charset "utf-8";
/* CSS Document */
#main{
	margin-left:30%;
	margin-right:30%;
	background-color:#F30;
	padding-top:1%;
	padding-left:1%;
	padding-bottom:1%;
	padding-right:1%;
}

#menu{
	left: 0px;
	width: 10%;
	height:420px;
	background-color: #E76366;
	padding-left: 2%;
	margin-top: 3%;
	float:left;
	font-style:normal;
}
.head{
	font-size:larger;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style:italic;
}
#player{
	float:left;
	font-style:normal;
	margin-left:20%;
	margin-top:7%;
	margin-bottom:35%;
}
#search{
	float:right;
}
#playlist,audio{
	background:#666;
	width:150%;
	padding:2%;
}
.active a{
	color:#5DB0E6;
	text-decoration:none;
}
li{
	list-style:none;
}
li a{
	color:#eeeedd;
	display:block;
	text-decoration:none;
}
li a:hover{
	text-decoration:none;
}
	